.box{
    height: 400px;
    width: 280px;
    background-color: blanchedalmond;
    border-radius: 9px;
    margin: auto;
    margin-top: 200px;
}

.form{
    padding-top: 70px;
    padding-left: 50px;
}

input{
   width: 180px;
   height: 30px;
   background-color: blanchedalmond;
}

span{
    margin-left: 65px;
}

button{
    margin-left: 60px;
    height: 40px;
    width: 60px;
    border-radius: 7px;
    color: white;
    background-color: brown;
    border: none;
    margin-top: 40px;
}

button:hover{
    background-color: cornflowerblue;
}

